# pre processing all current raw data for action id process (Step 4, 5,6)
    steps:
    1 - Organize all files by user (with related information)
    2 - merge all related files per user
    3 - sort by timestamp
    4 - **decide the certain "action key"(exp. 1:login 2:longoff)**
    5 - **break the log into action keys (origional using auto-generated non-repeat num ID with parsed log type)**
    6 - **new line while "logoff" (origional using block_id which not exist here)**

In [21]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm

LDAP_dir = "./r5.2/LDAP"
Processed_dir = "./pre_processed"
result_dir = "./processed_log"
temp_test = "./test_final_raw.csv"

In [22]:
#"action key" the element of LogKey
ACTION_DIR = {"Logon": "1",
              "Logoff": "2",
              "Connect": "3",
              "Disconnect": "4",
              "http": "5",
              "file": "6",
              "email": "7"}

In [23]:
ACTION_DIR["email"]

'7'

test with one user

In [24]:
test_file = pd.read_csv(temp_test)
test_file
# test_file.shape()

       Unnamed: 0                 date  action
0               0  01/01/2010 08:04:00   Logon
1               1  01/01/2010 20:03:00  Logoff
2               2  01/02/2010 07:53:00   Logon
3               3  01/02/2010 12:18:06   Logon
4               4  01/02/2010 20:02:00  Logoff
5               5  01/04/2010 08:04:00   Logon
6               6  01/04/2010 20:08:00  Logoff
7               7  01/05/2010 08:02:00   Logon
8               8  01/05/2010 13:41:00   Logon
9               9  01/05/2010 19:55:00  Logoff
10             10  01/06/2010 08:01:00   Logon
11             11  01/06/2010 11:58:15   Logon
12             12  01/06/2010 19:56:00  Logoff
13             13  01/07/2010 07:56:00   Logon
14             14  01/07/2010 08:32:02   Logon
15             15  01/07/2010 08:48:31  Logoff
16             16  01/07/2010 11:27:00   Logon
17             17  01/07/2010 20:13:00  Logoff
18             18  01/08/2010 07:54:00   Logon
19             19  01/08/2010 10:50:06   Logon
20             20  01/08/2010 19:57:00  Logoff
21             21  01/11/2010 08:03:00   Logon
22             22  01/11/2010 11:30:57   Logon
23             23  01/11/2010 20:03:00  Logoff
24             24  01/12/2010 07:59:00   Logon
25             25  01/12/2010 13:46:25   Logon
26             26  01/12/2010 19:57:00  Logoff
27             27  01/13/2010 08:01:00   Logon
28             28  01/13/2010 11:34:56   Logon
29             29  01/13/2010 19:57:00  Logoff
...           ...                  ...     ...
29513        4629  05/11/2011 09:22:33   email
29514        4630  05/11/2011 09:28:00   email
29515        4631  05/11/2011 09:40:52   email
29516        4632  05/11/2011 09:48:38   email
29517        4633  05/11/2011 10:01:39   email
29518        4634  05/11/2011 10:48:57   email
29519        4635  05/11/2011 10:58:12   email
29520        4636  05/12/2011 11:26:43   email
29521        4637  05/12/2011 11:54:51   email
29522        4638  05/12/2011 13:02:32   email
29523        4639  05/12/2011 13:10:24   email
29524        4640  05/12/2011 13:51:21   email
29525        4641  05/12/2011 14:13:53   email
29526        4642  05/12/2011 14:41:25   email
29527        4643  05/12/2011 14:44:13   email
29528        4644  05/12/2011 15:31:50   email
29529        4645  05/12/2011 16:53:09   email
29530        4646  05/12/2011 18:59:53   email
29531        4647  05/12/2011 19:06:53   email
29532        4648  05/12/2011 19:42:02   email
29533        4649  05/13/2011 08:45:38   email
29534        4650  05/13/2011 13:27:01   email
29535        4651  05/13/2011 14:57:00   email
29536        4652  05/13/2011 16:05:14   email
29537        4653  05/13/2011 17:26:49   email
29538        4654  05/13/2011 17:42:33   email
29539        4655  05/13/2011 17:48:05   email
29540        4656  05/13/2011 18:37:57   email
29541        4657  05/13/2011 18:49:19   email
29542        4658  05/13/2011 19:58:34   email

[29543 rows x 3 columns]

In [25]:
test_file = test_file.drop(columns=["Unnamed: 0"])
test_file

                      date  action
0      01/01/2010 08:04:00   Logon
1      01/01/2010 20:03:00  Logoff
2      01/02/2010 07:53:00   Logon
3      01/02/2010 12:18:06   Logon
4      01/02/2010 20:02:00  Logoff
5      01/04/2010 08:04:00   Logon
6      01/04/2010 20:08:00  Logoff
7      01/05/2010 08:02:00   Logon
8      01/05/2010 13:41:00   Logon
9      01/05/2010 19:55:00  Logoff
10     01/06/2010 08:01:00   Logon
11     01/06/2010 11:58:15   Logon
12     01/06/2010 19:56:00  Logoff
13     01/07/2010 07:56:00   Logon
14     01/07/2010 08:32:02   Logon
15     01/07/2010 08:48:31  Logoff
16     01/07/2010 11:27:00   Logon
17     01/07/2010 20:13:00  Logoff
18     01/08/2010 07:54:00   Logon
19     01/08/2010 10:50:06   Logon
20     01/08/2010 19:57:00  Logoff
21     01/11/2010 08:03:00   Logon
22     01/11/2010 11:30:57   Logon
23     01/11/2010 20:03:00  Logoff
24     01/12/2010 07:59:00   Logon
25     01/12/2010 13:46:25   Logon
26     01/12/2010 19:57:00  Logoff
27     01/13/2010 08:01:00   Logon
28     01/13/2010 11:34:56   Logon
29     01/13/2010 19:57:00  Logoff
...                    ...     ...
29513  05/11/2011 09:22:33   email
29514  05/11/2011 09:28:00   email
29515  05/11/2011 09:40:52   email
29516  05/11/2011 09:48:38   email
29517  05/11/2011 10:01:39   email
29518  05/11/2011 10:48:57   email
29519  05/11/2011 10:58:12   email
29520  05/12/2011 11:26:43   email
29521  05/12/2011 11:54:51   email
29522  05/12/2011 13:02:32   email
29523  05/12/2011 13:10:24   email
29524  05/12/2011 13:51:21   email
29525  05/12/2011 14:13:53   email
29526  05/12/2011 14:41:25   email
29527  05/12/2011 14:44:13   email
29528  05/12/2011 15:31:50   email
29529  05/12/2011 16:53:09   email
29530  05/12/2011 18:59:53   email
29531  05/12/2011 19:06:53   email
29532  05/12/2011 19:42:02   email
29533  05/13/2011 08:45:38   email
29534  05/13/2011 13:27:01   email
29535  05/13/2011 14:57:00   email
29536  05/13/2011 16:05:14   email
29537  05/13/2011 17:26:49   email
29538  05/13/2011 17:42:33   email
29539  05/13/2011 17:48:05   email
29540  05/13/2011 18:37:57   email
29541  05/13/2011 18:49:19   email
29542  05/13/2011 19:58:34   email

[29543 rows x 2 columns]

In [26]:
test_file = test_file.sort_values(by=['date'])

In [27]:
with open("./test_logKey.txt","w") as out_file:
    for _, row in tqdm(test_file.iterrows()):
        out_file.writelines(ACTION_DIR[row.action]+' ')
        if row.action == "Logoff":
            out_file.writelines('\n')

29543it [00:02, 14200.26it/s]